spring:
  application:
    name: time-blocking
  datasource:
    url: jdbc:h2:tcp://localhost/~/test
    driver-class-name: org.h2.Driver
    username: sa
    password:
server:
  port: 80
jpa:
  hibernate:
    ddl-auto: create
logging:
  level:
    org.hibernate.SQL: debug
